<section class="banners">
    <h2 class="visually-hidden">Banners</h2>
    <div class="container banners__container">
        <ul class="banners__list">
            <li class="banners__item">
                <article class="banners__article banners-article">
                    <img class="banners-article__img" src="img/main/midseason.jpg" alt="midseason">
                    <h3 class="banners-article__title">Women's <br>Mid-Season</h3>
                    <a href="#" class="main-link banners-article__link">Shop Now</a>
                </article>
            </li>
            <li class="banners__item">
                <article class="banners__article banners-article">
                    <img class="banners-article__img" src="img/main/summer.jpg" alt="summer">
                    <h3 class="banners-article__title">Summer <br> Romance</h3>
                    <a href="#" class="main-link banners-article__link">Shop Now</a>
                </article>
            </li>
            <li class="banners__item">
                <article class="banners__article banners-article">
                    <img class="banners-article__img" src="img/main/accs.jpg" alt="accs">
                    <h3 class="banners-article__title">20% Off <br> All Accessories</h3>
                    <a href="#" class="main-link banners-article__link">Shop Now</a>
                </article>
            </li>
        </ul>
    </div>
</section>