<div class="card-top">
    <div class="container container-narrow">
        <div class="card-top__left">
            <div class="card-slider">
                <div class="card-slider__thumbs">
                    <div class="card-slider__thumb"><img src="img/card/1.png" alt=""></div>
                    <div class="card-slider__thumb"><img src="img/card/1.png" alt=""></div>
                    <div class="card-slider__thumb"><img src="img/card/1.png" alt=""></div>
                    <div class="card-slider__thumb"><img src="img/card/1.png" alt=""></div>
                    <div class="card-slider__thumb"><img src="img/card/1.png" alt=""></div>
                </div>
                <div class="card-slider__main">
                    <img src="#" alt="image product's">
                </div> <!-- /.card-slider__main -->
            </div> <!-- /.card-slider -->
        </div> <!-- /.card-top__left -->
        <div class="card-top__right">
            <div class="card-info">
                <span class="card-info__prop product-prop"></span>
                <h3 class="card-info__title">Band-collar popover tunic</h3>
                <div class="card-info__rate">
                    <img src="img/card/stars.png" alt="Rate 4 of 5">
                    <span>2 Reviews</span>
                </div>
                <div class="card-info__price info-price">
                    <span class="js-conventional-unit info-price__conventional">$</span>
                    <div class="info-price__current">128.00</div>
                    <span class="js-conventional-unit info-price__conventional-old">$</span>
                    <div class="info-price__old">165.00</div>
                </div>
                <p class="card-info__description">
                    We love the dramatic ruffle details down the sleeve, delicate fabric buttons and polished cuffs.
                </p>
                <div class="card-info__select color-select card-info__first-select">
                    <span class="color-select__selected">Color: <span>Green</span></span>
                    <ul class="color-select__list">
                        <li class="color-select__item">
                            <button class="color-select__btn btn-reset" data-color="red"
                                    aria-label="Choice red color" style="background-color: red;"></button>
                        </li>
                        <li class="color-select__item">
                            <button class="color-select__btn btn-reset" data-color="orange"
                                    aria-label="Choice orange color" style="background-color:orange;"></button>
                        </li>
                        <li class="color-select__item">
                            <button class="color-select__btn btn-reset color-select__btn--active" data-color="green"
                                    aria-label="Choice green color" style="background-color: green;"></button>
                        </li>
                        <li class="color-select__item">
                            <button class="color-select__btn btn-reset" data-color="white"
                                    aria-label="Choice white color" style="background-color: white;"></button>
                        </li>
                        <li class="color-select__item">
                            <button class="color-select__btn btn-reset" data-color="black"
                                    aria-label="Choice black color" style="background-color: black;"></button>
                        </li>
                        <li class="color-select__item">
                            <button class="color-select__btn btn-reset" data-color="brown"
                                    aria-label="Choice brown color" style="background-color: brown;"></button>
                        </li>
                        <li class="color-select__item">
                            <button class="color-select__btn btn-reset" data-color="purple"
                                    aria-label="Choice purple color" style="background-color: purple;"></button>
                        </li>
                        <li class="color-select__item">
                            <button class="color-select__btn btn-reset" data-color="grey"
                                    aria-label="Choice grey color" style="background-color: grey;"></button>
                        </li>
                    </ul>
                </div> <!-- /.color-select -->
                <div class="card-info__select size-select card-info__second-select">
                    <p class="size-select__selected">size: <span>Select a size</span></p>
                    <ul class="size-select__list">
                        <li class="size-select__item">
                            <button class="size-select__btn btn-reset" aria-label="Choice 23 size">23</button>
                        </li>
                        <li class="size-select__item">
                            <button class="size-select__btn btn-reset" aria-label="Choice 24 size">24</button>
                        </li>
                        <li class="size-select__item">
                            <button class="size-select__btn btn-reset" aria-label="Choice 25 size">25</button>
                        </li>
                        <li class="size-select__item">
                            <button class="size-select__btn btn-reset" aria-label="Choice 26 size">26</button>
                        </li>
                        <li class="size-select__item">
                            <button class="size-select__btn btn-reset" aria-label="Choice 27 size">27</button>
                        </li>
                        <li class="size-select__item">
                            <button class="size-select__btn btn-reset" aria-label="Choice 28 size">28</button>
                        </li>
                        <li class="size-select__item">
                            <button class="size-select__btn btn-reset" aria-label="Choice 29 size">29</button>
                        </li>
                        <li class="size-select__item">
                            <button class="size-select__btn btn-reset" aria-label="Choice 30 size">30</button>
                        </li>
                        <li class="size-select__item">
                            <button class="size-select__btn btn-reset" aria-label="Choice 31 size">31</button>
                        </li>
                    </ul>
                    <button class="btn-reset size-select__clear">
                        <svg class="">
                            <use xlink:href="img/sprite.svg#close"></use>
                        </svg>
                        clear
                    </button>
                </div> <!-- /.size-select -->
                <div class="card-info__stepper stepper">
                    <button type="button" class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled" aria-label="minus">
                        <svg class="">
                            <use xlink:href="img/sprite.svg#minus"></use>
                        </svg>
                    </button>
                    <input type="text" class="stepper__input" value="1" maxlength="5">
                    <button type="button" class="btn-reset stepper__btn stepper__btn--plus" aria-label="plus">
                        <svg class="">
                            <use xlink:href="img/sprite.svg#plus"></use>
                        </svg>
                    </button>
                </div> <!-- /.stepper -->
                <button class="card-info__btn card-info__btn--tocart btn-reset">Add to cart</button>
                <button class="card-info__btn card-info__btn--towishlist btn-reset">Add to wishlist</button>
                <div class="card-info__bottom card-bottom">
                    <div class="card-bottom__item">
                        <span>Sku:</span>
                        FW511
                    </div>
                    <div class="card-bottom__item">
                        <span>Category:</span>
                        <a href="#">Trousers,</a>
                        <a href="#">Life style</a>
                    </div>
                    <div class="card-bottom__item">
                        <span>Tags:</span>
                        <a href="#">Designer,</a>
                        <a href="#">Women</a>
                    </div>
                    <div class="card-bottom__social">
                        <span>Share:</span>
                        <ul class="social">
                            <li class="social__item"><a href="#" class="social__link social__link--tw" aria-label="Go to twitter"></a></li>
                            <li class="social__item"><a href="#" class="social__link social__link--fb" aria-label="Go to facebook"></a></li>
                            <li class="social__item"><a href="#" class="social__link social__link--in" aria-label="Go to instagram"></a></li>
                            <li class="social__item"><a href="#" class="social__link social__link--pin" aria-label="Go to pinterest"></a></li>
                        </ul>
                    </div>
                </div> <!-- /.card-bottom -->
            </div> <!-- /.card-info -->
        </div> <!-- /.card-top__right -->
    </div> <!-- /.container -->
</div> <!-- /.card-top -->