<div class="catalog-filters">
    <button class="hide-filters btn-reset">
        <svg class="hide-filters__close-icon">
            <use xlink:href="img/sprite.svg#close" aria-label="hide filters"></use>
        </svg>
        Hide Filters</button>
    <div class="catalog-filter catalog-filter--open" data-filter="categories">
        <div class="catalog-filter__top">
            <div class="catalog-filter__caption">
                <h3 class="catalog-filter__title">Categories</h3>
                <span class="catalog-filter__quantity quantity">0</span>
            </div>
            <span class="catalog-filter__toggle"></span>
        </div>
        <div class="catalog-filter__bottom">
            <ul class="catalog-filter__items">
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="All categories">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">All categories</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Accessories">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Accessories</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Dresses">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Dresses</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Coats">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Coats</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Clothes">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Clothes</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="T-shirt">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">T-shirt</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Summer">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Summer</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Shirts">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Shirts</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Jacket">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Jacket</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Short">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Short</span>
                    </label>
                </li>
            </ul>
        </div> <!-- /.catalog-filter__bottom -->
    </div> <!-- /.catalog-filter -->
    <div class="catalog-filter" data-filter="color">
        <div class="catalog-filter__top">
            <div class="catalog-filter__caption">
                <h3 class="catalog-filter__title">Color</h3>
                <span class="catalog-filter__quantity quantity">0</span>
            </div>
            <span class="catalog-filter__toggle"></span>
        </div>
        <div class="catalog-filter__bottom">
            <ul class="catalog-filter__items">
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="All colors">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">All colors</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="White">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">White</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Black">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Black</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Red">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Red</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Yellow">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Yellow</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Blue">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Blue</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Green">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Green</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Gray">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Gray</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Brown">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Brown</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Lilac">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Lilac</span>
                    </label>
                </li>
            </ul>
        </div> <!-- /.catalog-filter__bottom -->
    </div> <!-- /.catalog-filter -->
    <div class="catalog-filter" data-filter="size">
        <div class="catalog-filter__top">
            <div class="catalog-filter__caption">
                <h3 class="catalog-filter__title">Size</h3>
                <span class="catalog-filter__quantity quantity">0</span>
            </div>
            <span class="catalog-filter__toggle"></span>
        </div>
        <div class="catalog-filter__bottom">
            <ul class="catalog-filter__items">
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="36">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">36</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="37">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">37</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="38">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">38</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="39">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">39</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="40">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">40</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="41">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">41</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="42">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">42</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="43">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">43</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Small">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Small</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Large">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Large</span>
                    </label>
                </li>
            </ul>
        </div> <!-- /.catalog-filter__bottom -->
    </div> <!-- /.catalog-filter -->
    <div class="catalog-filter" data-filter="price">
        <div class="catalog-filter__top">
            <div class="catalog-filter__caption">
                <h3 class="catalog-filter__title">Price</h3>
                <span class="catalog-filter__quantity quantity">0</span>
            </div>
            <span class="catalog-filter__toggle"></span>
        </div>
        <div class="catalog-filter__bottom">
            <ul class="catalog-filter__items">
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="None">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">None</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="$0.00 - $100.00">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">$0.00 - $100.00</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="$100.00 - $200.00">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">$100.00 - $200.00</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="$200.00 - $300.00">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">$200.00 - $300.00</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="$300.00 - $400.00">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">$300.00 - $400.00</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="$400.00 - $500.00">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">$400.00 - $500.00</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="$500.00+">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">$500.00+</span>
                    </label>
                </li>
            </ul>
        </div> <!-- /.catalog-filter__bottom -->
    </div> <!-- /.catalog-filter -->
    <div class="catalog-filter" data-filter="brand">
        <div class="catalog-filter__top">
            <div class="catalog-filter__caption">
                <h3 class="catalog-filter__title">Filter By Brand</h3>
                <span class="catalog-filter__quantity quantity">0</span>
            </div>
            <span class="catalog-filter__toggle"></span>
        </div>
        <div class="catalog-filter__bottom">
            <ul class="catalog-filter__items">
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Armani">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Armani</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Burberry">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Burberry</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Ralph Lauren">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Ralph Lauren</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Louis Vuitton">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Louis Vuitton</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="GUCCI">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">GUCCI</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Brand5">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Brand5</span>
                    </label>
                </li>
            </ul>
        </div> <!-- /.catalog-filter__bottom -->
    </div> <!-- /.catalog-filter -->
    <div class="catalog-filter" data-filter="discount">
        <div class="catalog-filter__top">
            <div class="catalog-filter__caption">
                <h3 class="catalog-filter__title">Discount</h3>
                <span class="catalog-filter__quantity quantity">0</span>
            </div>
            <span class="catalog-filter__toggle"></span>
        </div>
        <div class="catalog-filter__bottom">
            <ul class="catalog-filter__items">
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="70% And Above">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">70% And Above</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="60% - 70% Off">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">60% - 70% Off</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="40% - 60% Off">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">40% - 60% Off</span>
                    </label>
                </li>
                <li class="catalog-filter__item">
                    <label class="custom-checkbox" data-text="Less Then 40% Off">
                        <input type="checkbox" class="custom-checkbox__input visually-hidden">
                        <span class="custom-checkbox__text">Less Then 40% Off</span>
                    </label>
                </li>
            </ul>
        </div> <!-- /.catalog-filter__bottom -->
    </div> <!-- /.catalog-filter -->
</div>
