<footer class="footer footer--2">
    <div class="container footer__container">
        <div class="footer__content">
            <div class="footer__top">
                <div class="footer__column">
                    <ul class="social footer__social">
                        <li class="social__item"><a href="#" class="social__link social__link--tw" aria-label="Go to twitter"></a>
                        </li>
                        <li class="social__item"><a href="#" class="social__link social__link--fb" aria-label="Go to facebook"></a>
                        </li>
                        <li class="social__item"><a href="#" class="social__link social__link--in" aria-label="Go to instagram"></a>
                        </li>
                        <li class="social__item"><a href="#" class="social__link social__link--pin"
                                                    aria-label="Go to pinterest"></a></li>
                    </ul>
                </div> <!-- /.footer__column -->
                <div class="footer__column">
                    <ul class="footer__list footer__list--row">
                        <li class="footer__item"><a href="#" class="footer__link footer__link--row">Returns Policy</a></li>
                        <li class="footer__item"><a href="#" class="footer__link footer__link--row">Track Your Order</a></li>
                        <li class="footer__item"><a href="#" class="footer__link footer__link--row">Shipping & Delivery</a></li>
                    </ul>
                </div> <!-- /.footer__column -->
                <div class="footer__column footer__column--flex">
                    <div class="footer__select">
                        <span class="footer__select-caption">Currency</span>
                        <div class="custom-select custom-select--footer js-select-currency" tabindex="0">
                            <div class="custom-select__top">USD</div>
                            <div class="custom-select__dropdown">
                                <ul class="custom-select__list" data-bar_select>
                                    <li class="custom-select__item">USD</li>
                                    <li class="custom-select__item">EUR</li>
                                    <li class="custom-select__item">RUB</li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- /.footer__select -->
                    <div class="footer__select">
                        <span class="footer__select-caption">Language</span>
                        <div class="custom-select custom-select--footer js-select-language" tabindex="0">
                            <div class="custom-select__top">English</div>
                            <div class="custom-select__dropdown">
                                <ul class="custom-select__list" data-bar_select>
                                    <li class="custom-select__item">English</li>
                                    <li class="custom-select__item">Italian</li>
                                    <li class="custom-select__item">Russian</li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- /.footer__select -->
                </div><!-- /.footer__column -->
            </div>
            <div class="footer__bottom">
                <div class="footer__left">
                    <small class="footer__copy">©2019 Zonex All rights reserved</small>
                </div>
                <div class="footer__right">
                    <img src="img/footer/payment.png" aria-hidden="true" alt="">
                </div>
            </div> <!-- /.footer__bottom -->
        </div> <!-- /.footer__content -->
    </div> <!-- /.footer__container -->
</footer>
