<footer class="footer">
	<div class="container footer__container">
		<div class="footer__content">
			<div class="footer__top">
				<div class="footer__column">
					<h3 class="footer__title">Customer Service</h3>
					<ul class="footer__list">
						<li class="footer__item"><a href="tel:+8665972742" class="footer__link">Phone: +866.597.2742</a></li>
						<li class="footer__item"><a href="#" class="footer__link">Live chat</a></li>
						<li class="footer__item"><a href="#" class="footer__link">About Us</a></li>
						<li class="footer__item"><a href="#" class="footer__link">Terms & Conditions</a></li>
					</ul>
				</div>
				<div class="footer__column">
					<h3 class="footer__title">Company</h3>
					<ul class="footer__list">
						<li class="footer__item"><a href="#" class="footer__link">What We Do</a></li>
						<li class="footer__item"><a href="#" class="footer__link">Available Services</a></li>
						<li class="footer__item"><a href="#" class="footer__link">Latest Posts</a></li>
						<li class="footer__item"><a href="#" class="footer__link">FAQs</a></li>
					</ul>
				</div>
				<div class="footer__column">
					<h3 class="footer__title">Our Newsletter</h3>
					<form action="#" class="footer__form subscribe-form">
						<h4 class="subscribe-form__title">Join our list and get 15% off your first purchase!</h4>
						<label class="subscribe-form__field">
							<input type="email" required placeholder="Email Address">
						</label>
						<button class="subscribe-form__btn btn-reset" type="submit">Subscribe</button>
					</form>
					<span class="footer__text">*Don’t worry we don’t spam</span>
				</div>
			</div>
			<div class="footer__bottom">
				<div class="footer__left">
					<ul class="footer__list footer__list--row">
						<li class="footer__item"><a href="" class="footer__link footer__link--row">Returns Policy</a></li>
						<li class="footer__item"><a href="#" class="footer__link footer__link--row">Track Your Order</a></li>
						<li class="footer__item"><a href="#" class="footer__link footer__link--row">Shipping & Delivery</a></li>
					</ul>
				</div>
				<div class="footer__right">
					<ul class="social footer__social">
						<li class="social__item"><a href="#" class="social__link social__link--tw" aria-label="Go to twitter"></a></li>
						<li class="social__item"><a href="#" class="social__link social__link--fb" aria-label="Go to facebook"></a></li>
						<li class="social__item"><a href="#" class="social__link social__link--in" aria-label="Go to instagram"></a></li>
						<li class="social__item"><a href="#" class="social__link social__link--pin" aria-label="Go to pinterest"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
