<header class="header">
    <div class="container header__container header-home-narrow">
        <button tabindex="1" class="burger btn-reset header__burger">
            <span class="burger__line"></span>
        </button>
        <nav class="nav header__nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="index.html" class="main-link nav__link" data-url="index">Home</a>
                </li>
                <li class="nav__item">
                    <a href="catalog.html" class="main-link nav__link" data-url="catalog">Shop</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="main-link nav__link">Elements</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="main-link nav__link">Blog</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="main-link nav__link">Page</a>
                </li>
            </ul>
        </nav>
        <a href="index.html" class="logo header__logo">
            <svg>
                <use xlink:href="img/sprite.svg#logo" aria-label="logo"></use>
            </svg>
        </a>
        <ul class="shop-nav header__shop-nav">
            <li class="shop-nav__item">
                <a href="#search" class="shop-nav__link shop-nav__link--search" aria-label="Search"></a>
            </li>
            <li class="shop-nav__item">
                <a href="#user" class="shop-nav__link shop-nav__link--user" aria-label="Go to cabinet"></a>
            </li>
            <li class="shop-nav__item">
                <a href="#cart" class="cart shop-nav__link" aria-label="Go to cart">
                    <span class="cart__icon"></span>
                    <span class="cart__quantity quantity">0</span>
                </a>
                <div class="message-to-cart"></div>
            </li>
        </ul>

        <div class="overlay"></div>
        @include('modal-nav.html')
        @include('modal-search.html')
        @include('modal-authorization.html')
        @include('modal-cart.html')

    </div>
</header>