<section class="hero">
    <div class="container hero__container">
        <h1 class="visually-hidden">Zonex - best shop!</h1>
        <div class="banner-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="hero__content">
                        <h2 class="hero__title">Fall-Winter Clearance Sales</h2>
                        <p class="hero__description">All Sale Items are Final Sale / Free Shipping on All Orders</p>
                        <img src="img/main/girl.png" class="hero__image" alt="Girl" aria-hidden="true">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="hero__content">
                        <h2 class="hero__title">Fall-Winter Clearance Sales</h2>
                        <p class="hero__description">All Sale Items are Final Sale / Free Shipping on All Orders</p>
                        <img src="img/main/girl.png" class="hero__image" alt="Girl" aria-hidden="true">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="hero__content">
                        <h2 class="hero__title">Fall-Winter Clearance Sales</h2>
                        <p class="hero__description">All Sale Items are Final Sale / Free Shipping on All Orders</p>
                        <img src="img/main/girl.png" class="hero__image" alt="Girl" aria-hidden="true">
                    </div>
                </div>
            </div>
            <div class="swiper-pagination banner-pag"></div>
        </div>
    </div>
</section>