<div class="hero-catalog">
    <div class="container container-narrow hero-catalog__container">
        <div class="hero-catalog__slider">
            <button class="hero-prev-btn btn-reset">
                <svg class="">
                    <use xlink:href="img/sprite.svg#prev-arrow"></use>
                </svg>
            </button>
            <button class="hero-next-btn btn-reset">
                <svg class="">
                    <use xlink:href="img/sprite.svg#next-arrow"></use>
                </svg>
            </button>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="catalog-slide">
                        <h2 class="catalog-slide__title">The best thing about going back to school?</h2>
                        <p class="catalog-slide__description">This fall denim is king! Denim is officially back in and cool to wear in all
                            its many forms</p>
                        <div class="catalog-slide__btns">
                            <a href="#" class="catalog-slide__link catalog-slide__link--dark">Discovery</a>
                            <a href="#" class="catalog-slide__link catalog-slide__link--light">Shop now</a>
                        </div>
                        <img src="img/catalog/girl-banner.png" alt="girl on banner" class="catalog-slide__image">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="catalog-slide">
                        <h2 class="catalog-slide__title">The best thing about going back to school?</h2>
                        <p class="catalog-slide__description">This fall denim is king! Denim is officially back in and cool to wear in all
                            its many forms</p>
                        <div class="catalog-slide__btns">
                            <a href="#" class="catalog-slide__link catalog-slide__link--dark">Discovery</a>
                            <a href="#" class="catalog-slide__link catalog-slide__link--light">Shop now</a>
                        </div>
                        <img src="img/catalog/girl-banner.png" alt="girl on banner" class="catalog-slide__image">
                    </div>
                </div>
            </div>
<!--            <div class="swiper-pagination hero-pag"></div>-->
        </div>
    </div>
</div>