<section class="main-products">
    <h2 class="visually-hidden">Products on Main Page</h2>
    <div class="container main-products__container">
        <ul class="main-products__nav">
            <li class="main-products__item">
                <button class="main-products__btn main-products__btn--current btn-reset main-link"
                        data-filter="best-sellers">Best Sellers</button>
            </li>
            <li class="main-products__item">
                <button class="main-products__btn btn-reset main-link"
                        data-filter="new-products">New Products</button>
            </li>
            <li class="main-products__item">
                <button class="main-products__btn btn-reset main-link"
                        data-filter="sale-products">Sale Products</button>
            </li>
        </ul>
        <ul class="main-products__list products-grid"></ul>
        <div class="main-products__btn-center">
            <button class="btn-reset main-products__more">
                <span>Load More</span>
                <svg>
                    <use xlink:href="img/sprite.svg#down-arrow"></use>
                </svg>
            </button>
        </div>
    </div>
</section>