<div class="cart-modal">
    <div class="cart-modal__content">
        <div class="cart-modal__top">
            <h3 class="cart-modal__title">Cart (0)</h3>
            <button class="cart-modal__close btn-reset">Close
                <svg class="cart-modal__close-icon">
                    <use xlink:href="img/sprite.svg#close" aria-label="close modular cart window"></use>
                </svg>
            </button>
        </div> <!-- /.cart-modal__top -->
        <div class="cart-modal__empty">
            <svg class="cart-modal__empty-img">
                <use xlink:href="img/sprite.svg#cart-empty" aria-label="cart is empty"></use>
            </svg>
            <span class="cart-modal__empty-text">No products in the cart.</span>
        </div>
        <ul class="cart-modal__list is-hidden" data-bar_cart_modal></ul>
        <div class="cart-modal__bottom is-hidden">
            <div class="cart-modal__total-wrapper">
                <span class="cart-modal__total">TOTAL:</span>
                <div class="cart-modal__counter-wrap">
                    <span class="js-conventional-unit">$</span>
                    <span class="cart-modal__counter">$0.00</span>
                </div>
            </div>
            <a href="cart.html" class="cart-modal__order-btn btn-reset" aria-label="go to checkout">Checkout</a>
            <a href="cart.html" class="cart-modal__view-btn btn-reset" aria-label="go to shop cart">View cart</a>
        </div> <!-- /.cart-modal__bottom -->
        <div class="cart-modal__ad is-hidden">
            <span class="cart-modal__ad-text">Free Shipping on All Orders Over $75</span>
        </div> <!-- /.cart-modal__ad -->
    </div> <!-- /.cart-modal__content -->
</div> <!-- /.cart-modal -->