<div class="authorization-modal">
    <div class="authorization-modal__into-wrapper">
        <button class="authorization-modal__close btn-reset">
            <svg class="authorization-modal__close-icon">
                <use xlink:href="img/sprite.svg#close" aria-label="close modular authorization window"></use>
            </svg>
        </button>
        <div class="authorization-modal__top">
            <a href="#" class="authorization-modal__tab authorization-modal__tab--active">Sign in</a>
            <a href="#" class="authorization-modal__tab">Register</a>
        </div> <!-- /.authorization-modal__top -->
        <div class="authorization-modal__content">

            <div class="authorization-modal__tab-block login-block">
                <form action="#" class="login-block__form">
                    <input type="text"
                           class="login-block__name form-field"
                           required="required"
                           placeholder="Your Name"
                           name="username"
                           autocomplete="username">
                    <input type="password"
                           class="login-block__password form-field"
                           required="required"
                           placeholder="Password"
                           name="password"
                           autocomplete="current-password">
                    <div class="login-block__remember-wrapper">
                        <label class="login-block__remember-label" for="remember_me">
                            <input class="login-block__remember-checkbox" name="remember" id="remember_me" type="checkbox">
                            <span class="login-block__remember-text">Remember me</span>
                        </label>
                        <a href="#" class="login-block__lost">Lost your password?</a>
                    </div>
                    <button class="login-block__submit btn-reset" type="submit" aria-label="Sign In">Sign In</button>
                </form>
                <button class="login-block__create-acc btn-reset" aria-label="Create An Account">Create An Account</button>
            </div><!-- /.authorization-modal__login-block -->

            <div class="authorization-modal__tab-block reg-block authorization-modal__tab-block--fade">
                <form action="#" class="reg-block__form">
                    <input type="text"
                           class="reg-block__email form-field"
                           required="required"
                           placeholder="Email address"
                           name="email">
                    <input type="password"
                           class="reg-block__password form-field"
                           required="required"
                           placeholder="Password"
                           name="reg_password"
                           autocomplete="off">
                    <div class="reg-block__policy">
                        <p>Your personal data will be used to support your experience throughout this website,
                            to manage access to your account, and for other purposes described in our
                            <a href="#" class="reg-block__policy-ref">privacy policy</a>.
                        </p>
                    </div>
                    <button class="login-block__submit btn-reset" aria-label="Sign up">Sign up</button>
                </form>
                <button class="login-block__create-acc btn-reset" aria-label="If already has an account">Already has an account</button>
            </div><!-- /.authorization-modal__login-block -->

            <div class="login-block__message is-reduce"></div>
        </div> <!-- /.authorization-modal__content -->
    </div> <!-- /.authorization-modal__wrapper -->
</div> <!-- /.authorization-modal -->