<div class="nav-modal">
    <div class="nav-modal__content">
        <button class="nav-modal__close btn-reset">
            <svg class="nav-modal__close-icon">
                <use xlink:href="img/sprite.svg#close" aria-label="close burger menu"></use>
            </svg>
        </button>
        <div class="nav-modal__top">
            <ul class="nav-modal__list">
                <li class="nav-modal__item">
                    <a href="index.html" class="main-link nav-modal__link" aria-label="Go to home page">Home</a>
                </li>
                <li class="nav-modal__item">
                    <a href="catalog.html" class="main-link nav-modal__link" aria-label="Go to shop">Shop</a>
                </li>
                <li class="nav-modal__item">
                    <a href="#" class="main-link nav-modal__link" aria-label="Go to elements page">Elements</a>
                </li>
                <li class="nav-modal__item">
                    <a href="#" class="main-link nav-modal__link" aria-label="Go to blog">Blog</a>
                </li>
                <li class="nav-modal__item">
                    <a href="#" class="main-link nav-modal__link" aria-label="Go to page">Page</a>
                </li>
                <li class="nav-modal__item nav-modal__cart">
                    <a href="cart.html" class="main-link nav-modal__link" aria-label="Go to cart">Shopping Cart</a>
                </li>
            </ul>
        </div> <!-- /.nav-modal__top -->
        <div class="nav-modal__bottom">
            <ul class="nav-modal__social social">
                <li class="social__item">
                    <a href="#" class="social__link social__link--tw" aria-label="Go to twitter"></a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link social__link--fb" aria-label="Go to facebook"></a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link social__link--in" aria-label="Go to instagram"></a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link social__link--pin" aria-label="Go to pinterest"></a>
                </li>
            </ul>
            <span class="nav-modal__copyright">@2020 Zonex All rights reserved</span>
        </div> <!-- /.nav-modal__bottom -->
    </div> <!-- /.nav-modal__content -->
</div>