.banners {
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;

    @include xs {
      padding-bottom: 0;
    }
  }

  &__list {
    display: flex;

    @include sm {
      flex-wrap: wrap;
    }
  }

  &__item {
    flex-shrink: 0;
    width: 33%;

    &:not(:last-child) {
      margin-right: 0.6%;
    }

    @include sm {
      margin-right: 0;
      margin-bottom: 20px;
      width: 100%;
    }
  }
}

.banners-article {
  position: relative;
  overflow: hidden;
  padding: 54px 60px;
  padding-right: 35%;
  min-height: 290px;
  background-color: #e9e4df;

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
  }

  &__title {
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 36px;

    @include md {
      font-size: 24px;
    }
  }

  &__link {
    @include md {
      font-size: 15px;
    }
  }

  &:hover {
    .banners-article__img {
      transform: scale(1.05);
    }
  }

  @include lg {
    padding: 54px 20% 54px 30px;
    min-height: 250px;
  }

  @include md {
    padding: 50px 20px;
    padding-right: 15%;
    min-height: 220px;
    background-position: 70% 50%;
  }

  @include sm {
    padding-right: 150px;
    background-position: 100% 0%;

    br {
      display: none;
    }
  }
}
