.breadcrumbs {
  &__list {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-top: 36px;
    padding-bottom: 26px;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 35px;

      &::after {
        content: "/";
        position: absolute;
        right: -20px;
        top: 50%;
        font-size: 10px;
        text-transform: uppercase;
        color: var(--color-gray);
        transform: translateY(-50%);
      }
    }
  }

  &__link {
    font-size: 10px;
    text-transform: uppercase;
    color: var(--color-gray);
    transition: color 0.3s;

    &:hover {
      color: var(--color-dark);
      transition: color 0.3s;
    }

    &--current {
      color: var(--color-dark);
    }
  }
}

.breadcrumbs .card-prev,
.breadcrumbs .card-next {
  display: none;
}

.card {
  .breadcrumbs .card-prev,
  .breadcrumbs .card-next {
    display: inline-block;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--color-gray);
    transition: color 0.3s;

    &:hover {
      color: var(--color-dark);
      transition: color 0.3s;
    }
  }

  .breadcrumbs .container {
    display: flex;
    align-items: center;

    @include xs {
      flex-wrap: wrap;
    }
  }

  .breadcrumbs__list {
    border-bottom: none;

    @include xs {
      margin-bottom: 0;
      width: 100%;
    }
  }

  .card-prev {
    margin-left: auto;

    @include xs {
      margin-left: 0;
    }
  }

  .card-next {
    margin-left: 20px;
  }
}