.cart-navigation {
  padding-top: 130px;

  &__list {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--quill-gray);
    padding-top: 90px;

    @include sm {
      padding-top: 50px;
    }

    @include xs {
      padding-top: 30px;
    }
  }

  &__item {
    margin: 0 30px;
    text-align: center;

    @include sm {
      margin: 0 15px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 36px;
    color: var(--color-gray);
    transition: color 0.3s;

    &-quantity {
      pointer-events: none;
    }

    &:hover {
      color: var(--color-dark);
    }

    &--active {
      color: var(--color-dark);

      &::before {
        width: 100%;
        opacity: 1;
      }
    }

    @include mobile {
      font-size: 28px;
    }

    @include sm {
      font-size: 20px;
    }

    @include xs {
      font-size: 16px;
    }
  }

  @include xs {
    padding-top: 50px;
  }
}

.cart-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 30px 50px;
  width: 100%;

  &__tab {
    display: flex;
    flex-direction: column;
    width: 100%;
    opacity: 0;
    transform: translateY(5%);
    transition: opacity 0.5s, transform 1s;

    &--active {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @include sm {
    padding: 50px 30px 0;
  }

  @include xs {
    padding: 30px 10px 0;
  }
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  opacity: 1;

  &__item {
    opacity: 1;
    transition: opacity 0.5s, transform 0.5s;

    &--visible {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  &__undo {
    overflow: hidden;
    margin-bottom: 30px;
    border-top: 4px solid #337ab7;
    padding-left: 20px;
    width: 100%;
    height: 54px;
    line-height: 50px;
    background-color: #fafafa;
    opacity: 1;
    transition: opacity 0.5s, height 0.5s;

    @include sm {
      font-size: 14px;
    }

    @include xs {
      padding: 0 5px;
      font-size: 14px;
    }
  }

  &__undo-btn {
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.75;
    }
  }

  &__empty {
    width: 100%;
    height: 168px;
    opacity: 1;
    transition: opacity 0.5s, height 0.5s;

    &-text {
      margin: 30px 0;
      border-top: 4px solid #dff0d8;
      line-height: 50px;
      text-align: center;
      background-color: #fafafa;

      @include sm {
        font-size: 14px;
      }

      @include xs {
        font-size: 14px;
      }
    }

    &-return {
      margin: auto;
      width: 200px;
      font-size: 11px;
      background-color: var(--color-dark);
      transition: opacity 0.3s, background-color 0.3s;

      &:hover {
        background-color: #f00;
        opacity: 0.8;
      }

      @include sm {
        width: 100%;
        font-size: 10px;
      }
    }

    &-btn {
      display: block;
      font-weight: 700;
      font-size: inherit;
      line-height: 54px;
      text-align: center;
      text-transform: uppercase;
      color: var(--color-white);
    }
  }

  &__customer,
  &__coupon {
    margin-bottom: 30px;
    padding: 15px 20px;
    width: 50%;
    font-size: 11px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-gray);
    background-color: var(--white-smoke);

    @include mobile {
      width: 70%;
      font-size: 10px;
    }

    @include xs {
      width: 100%;
    }
  }

  @include xs {
    text-align: center;
  }

  &__error {
    align-self: flex-start;
    overflow: hidden;
    border-top: 3px solid #337ab7;
    padding: 10px;
    width: 100%;
    font-size: 13px;
    line-height: 20px;
    background-color: var(--white-smoke);
    transition: opacity 0.5s, height 0.75s;

    //&-item {
    //  //opacity: 0;
    //  transition: opacity 0.5s, height 0.75s, transform 0.5s;
    //}
  }
}

.shopping {
  &__content-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

    @include md {
      flex-direction: column;
      align-items: center;
    }
  }

  &__form {
    margin-right: 50px;
    width: 65%;

    @include md {
      margin-right: 0;
      margin-bottom: 30px;
      width: 90%;
    }

    @include xs {
      margin-bottom: 0;
      width: 95%;
    }
  }
}

.shopping-form {
  overflow: hidden;

  &__headers {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--quill-gray);
  }

  &__cart-list {
    transition: height 0.5s;
  }

  &__cart-item {
    height: 177px;
  }

  &__thead {
    padding: 10px 0;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
  }

  &__thumbnail {
    width: 125px;
    text-align: left;

    @include sm {
      width: 100px;
    }
  }

  &__name {
    width: 40%;
  }

  &__price {
    width: 20%;
  }

  &__quantity {
    width: 15%;
  }

  &__subtotal {
    width: 20%;

    @include xs {
      display: none;
    }
  }

  &__remove {
    width: 5%;

    @include sm {
      display: none;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;

    @include mobile {
      flex-direction: column;
    }
  }

  .coupon__message {
    margin-top: 15px;
    font-size: 14px;
    color: var(--error-message);
    transition: opacity 0.5s, height 0.5s;
  }

  &__continue {
    border: 1px solid var(--color-dark);
    width: 200px;
    height: 54px;
    text-align: center;
    transition: background-color 0.3s;

    &-btn {
      display: block;
      font-weight: 700;
      font-size: 11px;
      line-height: 54px;
      text-transform: uppercase;
      transition: color 0.3s;
    }

    &:hover {
      background-color: var(--color-dark);

      .shopping-form__continue-btn {
        color: var(--color-white);
      }
    }

    @include mobile {
      width: 100%;
    }
  }
}

.coupon {
  &__text {
    margin-right: 10px;
    outline: none;
    border: 1px dashed var(--quill-gray);
    padding: 0 25px;
    width: 210px;
    height: 54px;
    font-size: 15px;
    line-height: 54px;
    color: var(--color-tundora);
    transition: border-color 0.5s;

    &::placeholder {
      color: var(--dark-gray);
    }

    &:focus {
      border: 1px dashed var(--color-black);
    }

    @include mobile {
      margin-bottom: 10px;
      width: 100%;
    }
  }

  &__apply-btn {
    width: 160px;
    height: 54px;
    font-weight: 700;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-dark);
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }

    @include mobile {
      margin-bottom: 20px;
      width: 100%;
    }
  }
}

.checkout {
  &__content-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include md {
      flex-direction: column;
      align-items: center;
    }
  }

  &__form-coupon {
    margin-bottom: 50px;

    @include mobile {
      margin-bottom: 0;
    }
  }

  &__form {
    margin-right: 50px;
    width: 55%;

    @include md {
      margin-right: 0;
      margin-bottom: 30px;
      width: 90%;
    }

    @include xs {
      margin-bottom: 0;
      width: 95%;
    }
  }

  &__check.check {
    position: relative;
    top: 0;
    width: 40%;

    @include md {
      width: 80%;
    }

    @include sm {
      width: 90%;
    }

    @include xs {
      padding: 15px 10px;
      width: 100%;
    }
  }

  &__check .check {
    &__subtotal-wrap {
      font-weight: 700;
      text-align: right;
    }

    &__title {
      margin-bottom: 40px;
      border: none;
    }

    &__list-item {
      @include xs {
        font-size: 14px;
      }
    }

    &__subtotal-title,
    &__shipping-title,
    &__total-title {
      font-size: 13px;
      text-transform: uppercase;
    }

    &__subtotal,
    &__shipping {
      border-bottom: 1px dashed var(--dark-gray);
    }

    &__shipping-sum {
      text-align: right;
    }

    &__total-wrap {
      font-size: 24px;
    }
  }

  &__form,
  &__check {
    margin-top: 30px;
  }
}

.checkout-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 50%;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.6s ease-out, opacity 2.2s ease;

  &__description {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 30px 20px;
    font-size: 15px;
    line-height: 28px;
    text-align: center;

    @include xs {
      margin-top: 0;
      padding-top: 0;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include xs {
      flex-direction: column;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;

    label {
      margin-bottom: 15px;
      font-size: 13px;
      color: #a9a9a9;
    }

    &:first-child {
      margin-right: 20px;

      @include xs {
        margin-bottom: 20px;
      }
    }

    @include xs {
      align-items: flex-start;
      width: 100%;
    }
  }

  &__remember {
    align-self: flex-start;
    margin: 20px 0;
  }

  .custom-checkbox__text {
    font-size: 14px;

    &::before {
      top: 0;
      width: 18px;
      height: 18px;
      background-color: var(--quill-gray);
    }

    &::after {
      left: 6px;
      top: -3px;
      transform: scale(1.8);
    }
  }

  &__submit {
    width: 100%;
    height: 54px;
    font-size: 10px;
    line-height: 54px;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-black);
  }

  &__lost-pass {
    align-self: flex-start;
    margin-bottom: 50px;
    padding-top: 15px;
    font-size: 15px;
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.7;
    }

    @include xs {
      margin-bottom: 30px;
    }
  }

  &--visible {
    max-height: 500px;
    opacity: 1;
  }

  &__username,
  &__password {
    outline: none;
    border-width: 0 0 2px;
    border-color: #e3e7e8;
    padding: 0;
    width: 100%;
    height: 54px;
    font-size: 13px;
    line-height: 52px;
    color: #151515;
    background: #e8f0fe;
  }

  @include mobile {
    width: 70%;
  }

  @include xs {
    width: 100%;
  }
}

.form-coupon {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 50%;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.6s ease-out, opacity 2.2s ease;

  &__description {
    margin: 10px 0 35px;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    text-transform: none;
    color: var(--color-dark);
  }

  &__coupon {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .coupon__text {
      width: 60%;

      @include sm {
        width: 100%;
      }
    }

    .coupon__apply-btn {
      width: 40%;

      @include sm {
        width: 100%;
      }
    }

    @include sm {
      flex-direction: column;
    }
  }

  &--visible {
    max-height: 230px;
    opacity: 1;
  }

  @include mobile {
    width: 70%;
  }

  @include xs {
    width: 100%;
  }
}

.checkout-form {
  &__title {
    margin-top: 0;
    font-weight: 500;
    font-size: 36px;

    @include sm {
      font-size: 30px;
    }

    @include xs {
      font-size: 24px;
    }
  }

  &__label {
    font-size: 15px;
  }

  &__input {
    margin-top: 0;
    margin-bottom: 30px;
    border-bottom: 2px solid var(--dark-gray);
    padding: 0;
    width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    color: var(--color-dark);
    transition: box-shadow 0.3s;
  }

  &__different {
    margin-bottom: 40px;
  }

  &__shipping-block {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s;

    &--open {
      max-height: 1000px;
    }
  }

  &__notes {
    margin-top: 10px;
    border-bottom: 2px solid var(--dark-gray);
    height: 50px;
    font-size: 14px;
    line-height: 20px;
    resize: none;
  }
}

.tracking {
  max-width: 720px;

  &__description {
    margin-top: 0;
    margin-bottom: 40px;
    padding: 0 20px;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
  }

  &__fields {
    padding: 30px 80px;

    @include sm {
      padding: 10px 80px;
    }

    @include xs {
      padding: 0 40px;
    }
  }

  &__order-id,
  &__email {
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 52px;
  }

  &__submit {
    padding: 0 20px;
    width: 100%;
    height: 54px;
    font-size: 10px;
    line-height: 54px;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-dark);
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border-bottom: 1px solid var(--quill-gray);
  opacity: 0;
  transform: scale(0.85);
  transition: transform var(--delay-transform-goods), opacity var(--delay-opacity-goods), height 0.5s;

  &__image-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 125px;
  }

  &__thumbnail,
  &__name,
  &__price,
  &__quantity,
  &__subtotal,
  &__remove {
    padding: 20px 0;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    transition: opacity 0.5s, transform 0.5s;

    @include sm {
      font-size: 13px;
    }

    @include xs {
      font-size: 12px;
    }
  }

  &__thumbnail {
    position: relative;
    width: 125px;

    @include sm {
      width: 100px;
    }
  }

  &__name {
    padding-right: 20px;
    padding-left: 20px;
    width: 40%;

    &-ref {
      opacity: 1;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.8;
      }
    }

    @include sm {
      padding-right: 10px;
      padding-left: 10px;
    }

    @include xs {
      text-align: left;
    }
  }

  &__price {
    width: 20%;

    @include mobile {
      font-size: 13px;
    }
  }

  &__amount {
    white-space: nowrap;
  }

  &__quantity {
    width: 15%;
  }

  &__subtotal {
    width: 20%;

    @include mobile {
      font-size: 13px;
    }

    @include xs {
      display: none;
    }
  }

  &__items-sum {
    white-space: nowrap;
  }

  &__remove {
    width: 5%;
    text-align: right;

    &-btn {
      padding-top: 2px;

      &:hover {
        .cart-item__remove-icon {
          fill: var(--color-dark);
        }
      }
    }

    &-icon {
      width: 14px;
      height: 14px;
      fill: var(--color-gray);
      transition: fill 0.3s;
    }

    @include sm {
      display: none;
    }
  }

  &__remove--mobile {
    position: absolute;
    left: 0;
    bottom: 45%;
    display: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: var(--color-dark);

    .cart-item__remove-icon {
      padding-top: 2px;
      width: 11px;
      height: 11px;
      fill: var(--color-white);
      transition: fill 0.3s;
    }

    @include sm {
      display: block;
    }
  }

  &__stepper {
    height: 40px;

    .stepper__input {
      width: 40px;

      @include xs {
        width: 25px;
      }
    }

    .stepper__btn {
      width: 40px;

      @include xs {
        width: 25px;
      }
    }

    @include sm {
      flex-direction: column;
      margin: auto;
      width: 42px;
      height: 100px;
    }

    @include xs {
      width: 27px;
    }
  }

  &--remove-hover {
    opacity: 0.5;
  }
}

.check {
  position: sticky;
  top: 120px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  width: 21%;
  min-width: 360px;
  background-color: var(--white-smoke);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 7px;
    background-image: url('../img/cart/cart__check__bg-top.png');
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 7px;
    background-image: url('../img/cart/cart__check__bg-bottom.png');
  }

  &__title {
    border-bottom: 1px solid var(--quill-gray);
    font-size: 12px;
    line-height: 46px;
    text-transform: uppercase;
  }

  &__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
  }

  &__subtotal-wrap {
    width: 50%;
    text-align: left;
  }

  &__product-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px dashed var(--dark-gray);
    font-size: 15px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__product-name {
    padding-right: 10px;
    width: 60%;
  }

  &__product-quantity {
    width: 10%;
    text-align: center;
  }

  &__product-price {
    width: 30%;
    text-align: right;
  }

  &__shipping-sum {
    width: 50%;
    font-size: 15px;
    line-height: 20px;
  }

  &__total {
    border-top: 1px solid var(--quill-gray);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
  }

  &__subtotal-title,
  &__shipping-title {
    width: 50%;
    font-weight: 700;
    font-size: 14px;
  }

  &__about-policy {
    padding: 10px 0;
    font-size: 15px;
    line-height: 22px;
  }

  &__policy-link {
    text-decoration: underline;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }

  &__policy {
    padding: 30px 0;

    .custom-checkbox__text {
      font-size: 14px;

      &::before {
        top: 4px;
      }

      &::after {
        left: 1px;
        top: -1px;
      }
    }
  }

  &__to-checkout {
    margin-bottom: 30px;
    height: 54px;
    text-align: center;
    background-color: var(--color-dark);
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }

  &__to-checkout-btn,
  &__place-order-btn {
    display: block;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 11px;
    line-height: 54px;
    text-transform: uppercase;
    color: var(--color-white);
  }

  @include md {
    width: 70%;
  }

  @include xs {
    padding: 20px 30px;
    width: 100%;
    min-width: 300px;
  }
}

.transfer {
  list-style: none;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 15px;
  line-height: 28px;
  background-color: var(--color-white);

  &__item {
    font-size: 14px;
  }

  &__about {
    display: block;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;

    @include xs {
      margin: 7px 0;
    }
  }

  input {
    &:checked + span {
      color: var(--color-dark);

      &::before {
        background-color: var(--color-dark);
      }

      &::after {
        display: none;
      }
    }

    &:checked ~ .transfer__about {
      max-height: 130px;
      transition: max-height 0.7s;

      @include xs {
        max-height: 170px;
      }
    }
  }

  &__payments {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 150px;
      top: -10px;
      width: 200px;
      height: 45px;
      background-image: url('../img/cart/payments.jpg');
      background-size: contain;
      background-repeat: no-repeat;

      @include xs {
        left: 131px;
        top: -2px;
        width: 125px;
        height: 31px;
      }
    }
  }

  .custom-checkbox__text {
    font-size: 15px;

    &::before {
      top: 5px;
      border-radius: 50%;
      width: 11px;
      height: 11px;
    }
  }
}