.card-slider {
  display: flex;

  &__thumbs {
    @include xs {
      display: flex;
      overflow-x: auto;
      margin-top: 20px;
    }
  }

  &__thumb {
    cursor: pointer;

    img {
      pointer-events: none;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include xs {
      flex-shrink: 0;
      margin-bottom: 0 !important;

      &:not(:last-child) {
        margin-right: 5px !important;
      }
    }
  }

  &__main {
    margin-left: 15px;
    width: 686px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include xs {
      margin-left: 0;
      width: 100%;
    }
  }

  @include xs {
    flex-direction: column-reverse;
  }
}