.catalog-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 34px;
  width: 987px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 17px;
    margin-bottom: 70px;
    height: 100%;
    transition: min-height 1s;

    @include md {
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }

  &__item {
    margin-bottom: 79px;
    opacity: 0;
    transform: scale(0.75);
    transition: transform var(--delay-transform-goods), opacity var(--delay-opacity-goods);

    @include md {
      margin-right: 0 !important;
      margin-bottom: 50px !important;
      width: 47% !important;
    }

    @include xs {
      width: 48% !important;
    }
  }
}

[data-grid-columns="3"] {
  min-height: 1597px;

  .catalog-grid__item {
    width: 31.3%;

    &:not(:nth-child(3n)) {
      margin-right: 3%;
    }

    &:nth-last-child(-n+3) {
      margin-bottom: 0;
    }
  }

  @include lg {
    min-height: 1403px;
  }
}

[data-grid-columns="4"] {
  min-height: 1276px;

  .catalog-grid__item {
    width: 22.7%;

    &:not(:nth-child(4n)) {
      margin-right: 3%;
    }

    &:nth-last-child(-n+4) {
      margin-bottom: 0;
    }
  }

  @include lg {
    min-height: 1135px;
  }
}

[data-grid-columns="5"] {
  min-height: 1085px;

  .catalog-grid__item {
    width: 17.6%;

    &:not(:nth-child(5n)) {
      margin-right: 3%;
    }

    &:nth-last-child(-n+5) {
      margin-bottom: 0;
    }
  }

  @include lg {
    min-height: 976px;
  }
}

.catalog-props {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
  }
}

.catalog-columns {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;

  &__text {
    margin-right: 3px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  &__btn {
    padding: 0 5px;
    font-size: 10px;
    color: var(--color-gray);

    &:hover {
      color: var(--color-dark);
    }

    &--current {
      color: var(--color-dark);

      &::before {
        width: 100%;
        opacity: 1;
      }
    }
  }

  @include md {
    display: none;
  }
}

.catalog-choice {
  max-height: 0;
  font-size: 0;
  opacity: 0;
  transition: opacity 0.5s, max-height 0.5s;

  &__item {
    overflow: hidden;
    margin-right: 0;
    margin-bottom: 5px;
    border-radius: 12px;
    padding: 5px 0;
    max-width: 0;
    font-size: 13px;
    white-space: nowrap;
    color: var(--color-tundora);
    background-color: #eee;
    transition: background-color 0.3s, color 0.3s, max-width 0.5s, padding 0.5s, margin 0.5s;

    svg {
      margin-left: 5px;
      width: 8px;
      height: 9px;
      fill: currentColor;
      pointer-events: none;
    }

    &--hover {
      color: var(--color-white);
      background-color: var(--color-dark);
      transition: background-color 0.3s, color 0.3s;
    }

    &--is-visible {
      margin-right: 5px;
      padding: 5px 12px;
      max-width: 170px;
    }
  }

  &__clear {
    position: relative;
    font-weight: 500;
    font-size: 13px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      opacity: 1;
      transition: opacity 0.15s;
    }
  }

  &--is-visible {
    max-height: 100px;
    opacity: 1;
  }
}

.custom-select {
  position: relative;
  outline: none;
  min-width: 115px;
  user-select: none;

  &__dropdown {
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    z-index: 20;
    display: block;
    padding: 10px 0 12px;
    width: 100%;
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--color-gray);
    background-color: var(--color-white);
  }

  &__list {
    overflow: auto;
    height: 0;
    transition: height 0.5s;
  }

  &__item {
    transition: color 0.3s;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:hover {
      color: var(--color-tundora);
      transition: color 0.3s;
    }
  }

  &__top {
    position: relative;
    border-bottom: 1px solid #e5e5e7;
    padding: 0 32px 12px 0;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -6px;
      width: 10px;
      height: 6px;
      background-image: url("../img/angle-down.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transform: translateY(-50%);
      transition: transform 0.3s;
    }
  }

  &--open {
    .custom-select__top {
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    .custom-select__list {
      height: 60px;
    }
  }

  &--footer {
    min-width: auto;

    .custom-select__top {
      border-bottom: none;
      padding-right: 15px;
      padding-bottom: 0;
      font-size: 13px;

      &::after {
        margin-top: 0;
      }
    }

    .custom-select__dropdown {
      font-size: 13px;
    }
  }
}

.custom-pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &__item {
    opacity: 0;
    transform: scale(0.75);
    transition: opacity 0.5s, transform 1s;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid #eee;
    padding: 0 16px;
    height: 40px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--color-gray);
    transition: color 0.3s, background-color 0.3s, border 0.3s, opacity 0.5s, transform 1s;

    svg {
      margin: 0 3px;
      width: 7px;
      height: 16px;
      fill: currentColor;
      pointer-events: none;
    }

    &:hover {
      border: 2px solid var(--color-dark);
      color: var(--color-white);
      background-color: var(--color-dark);
      transition: color 0.3s, background-color 0.3s, border 0.3s;
    }

    &--current {
      border: 2px solid var(--color-dark);
      color: var(--color-white);
      background-color: var(--color-dark);
    }
  }
}