@keyframes marquee {
  100% {
    transform: translateX(-105%);
  }

  0% {
    transform: translateX(105%);
  }
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: background-color 0.5s, padding-top 0.5s;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 36px;
    transition: padding 0.5s;

    @include xs {
      padding: 20px 30px;
    }
  }

  &__shop-nav {
    position: relative;
    margin-left: 250px;

    @include md {
      margin-left: 0;
    }
  }

  &--sticky {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    background-color: var(--color-white);

    .header__container {
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }
}

.nav {
  display: block;

  &__list {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__link {
    &--current {
      &::before {
        width: 100%;
        opacity: 1;
        transition: opacity 0.3s, width 0.3s;
      }
    }
  }

  &.nav--visible {
    left: 0;
    transition: left 0.5s;

    .nav__overlay {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.75s;
    }
  }

  @include md {
    display: none;
  }
}

.message-to-cart {
  position: absolute;
  right: -20px;
  top: 30px;
  z-index: 100;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  background-color: var(--color-white);
  opacity: 0;
  transform: translate(300px);
  transition: opacity 0.5s, transform 0.75s;

  &__already {
    border: 1px solid var(--dark-gray);
    padding: 10px;
    width: 265px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--quill-gray);
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: left;
    padding: 10px;
    width: 370px;
    min-height: 95px;

    @include xs {
      width: 300px;
    }
  }

  &__ref {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__image {
    align-self: center;
    width: 73px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 15px;
    width: 70%;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  &__price-wrap {
    display: flex;
    align-items: flex-end;
  }

  &__price {
    margin-top: 10px;
    font-size: 14px;
  }

  &__cu {
    font-size: 14px;
  }

  &__text {
    align-self: flex-end;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
  }

  &--show {
    opacity: 1;
    transform: translate(0);
  }

  @include xs {
    right: -20px;
  }
}

.logo {
  display: inline-block;
  width: 117px;
  height: 22px;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--color-dark);
    object-fit: cover;
  }

  @include xs {
    width: 90px;
    height: 18px;
  }
}

.catalog-header {
  padding-top: 38px;

  @include xs {
    padding-top: 0;
  }
}

.free-delivery {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 102;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  font-size: 10px;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: #111;
  transition: height 0.5s;

  &__text {
    display: block;
    width: 50%;
    text-align: center;
    transition: opacity 0.3s;
    animation: marquee 18s linear infinite;
  }

  &__btn {
    position: absolute;
    right: 40px;
    top: 50%;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: var(--color-white);
    }
  }

  @include xs {
    display: none;
  }
}

.free-delivery--hidden {
  height: 0;

  .free-delivery__text {
    opacity: 0;
  }
}

.card-page {
  .header {
    padding-top: 0;
  }
}

.burger {
  position: relative;
  display: none;
  width: 25px;
  height: 18px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 2px;
    background-color: var(--color-dark);
    transition: all 0.3s;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90%;
    height: 2px;
    background-color: var(--color-dark);
    transition: all 0.3s;
  }

  &__line {
    position: absolute;
    left: 0%;
    top: 50%;
    width: 50%;
    height: 2px;
    background-color: var(--color-dark);
    transform: translateY(-50%);
    transition: all 0.3s;
  }

  &:hover {
    .burger__line,
    &::before,
    &::after {
      width: 100%;
    }
  }

  @include md {
    display: block;
  }
}