.hero {
  position: relative;
  height: 100vh;
  min-height: 700px;
  max-height: 1440px;
  background-color: var(--quill-gray);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__container {
    position: relative;
    height: 100%;
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    max-width: 550px;
    font-weight: 700;
    font-size: 72px;

    @include md {
      max-width: 500px;
      font-size: 50px;
    }

    @include xs {
      font-size: 45px;
    }
  }

  &__description {
    margin: 0;
    font-size: 18px;

    @include md {
      font-size: 14px;
    }
  }

  &__image {
    position: absolute;
    right: 277px;
    bottom: 0;
    //width: 40%;
    max-height: 90%;

    @include lg-max {
      right: 100px;
      width: 480px;
    }

    @include lg {
      right: 50px;
    }

    @include md {
      right: 0;
      width: 350px;
    }

    @include sm {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 260px;
    height: 100%;

    @include lg {
      padding: 0 100px;
    }

    @include md {
      padding: 0;
    }
  }

  @include lg-max {
    height: 700px;
  }

  @include md {
    height: 600px;
    min-height: auto;
  }
}

.banner-slider {
  overflow: hidden;
  width: 100%;
  height: 100%;

  .swiper-slide {
    height: 100%;
  }
}

.banner-pag,
.hero-pag {
  left: 50%;
  bottom: 45px;
  transform: translateX(-50%);

  .swiper-pagination-bullet {
    margin: 0 12px;
    width: 6px;
    height: 6px;
    background-color: var(--color-white);
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    position: relative;
    background-color: var(--color-dark);
    opacity: 1;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: -1;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      background-color: var(--color-white);
      transform: translate(-50%, -50%);
    }
  }
}