.nav-modal {
  position: fixed;
  left: -320px;
  top: 0;
  width: 280px;
  height: 100vh;
  background-color: var(--color-white);
  transition: left var(--delay-modal-off);

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 95px;
    height: 100%;
  }

  &__top {
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
  }

  &__close {
    position: relative;
    padding: 12px 0;
    height: 60px;
    background-color: var(--color-white);

    &-icon {
      position: absolute;
      left: 30px;
      bottom: 15px;
      width: 15px;
      height: 15px;
      fill: var(--color-dark);
      transition: transform 0.5s;
      pointer-events: none;
    }
  }

  &__link {
    display: inline-block;
    padding: 15px 10%;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid #bfbfbf;
    padding: 20px;
    width: 100%;
    background-color: var(--color-white);
  }

  &__social {
    padding-bottom: 20px;
  }

  &__copyright {
    font-size: 13px;
  }

  &__cart {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 170px;
      top: 5px;
      width: 30px;
      height: 30px;
      background-image: url("../img/modal-nav__cart-icon.png");
      background-size: cover;
      background-repeat: no-repeat;
      pointer-events: none;
    }
  }

  &.nav-modal--visible {
    left: 0;
    transition: left var(--delay-modal-on);
  }
}