.shop-nav {
  display: flex;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 25px;

      @include xs {
        margin-right: 15px;
      }
    }
  }

  &__link {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.5;
      transition: opacity 0.3s;
    }

    &--user {
      background-image: url("../img/user.png");
    }

    &--search {
      background-image: url("../img/search.png");
    }
  }
}

.cart {
  position: relative;
  width: auto;
  height: auto;

  &__icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../img/cart.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__quantity {
    position: absolute;
    left: 17px;
    top: 5px;
  }
}

.quantity {
  display: inline-flex;
  align-items: center;
  border-radius: 25px;
  padding: 0 5px;
  height: 16px;
  font-weight: 700;
  font-size: 10px;
  color: var(--color-white);
  background-color: var(--color-dark);
}