.shop-banners {
  padding-top: 45px;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 0;

    @include xs {
      flex-direction: column;
    }
  }
}

.shop-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 50px;
  width: 50%;
  min-height: 420px;
  color: var(--color-white);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-dark);

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
  }

  &__title {
    position: relative;
    z-index: 1;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 48px;

    @include md {
      margin-bottom: 10px;
      font-size: 40px;
    }

    @include sm {
      font-size: 28px;
    }
  }

  &__text {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(#d70808, 0.1);
  }

  &:hover {
    .shop-banner__img {
      transform: scale(1.05);
    }
  }

  @include md {
    padding: 30px;
    min-height: 300px;
  }

  @include xs {
    width: 100%;
    min-height: 250px;
  }
}