// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;
  --white-smoke: #f5f5f5;
  --color-dark: #151515;
  --quill-gray: #e5e5e5;
  --color-gray: #858585;
  --color-tundora: #454545;
  --dark-gray: #cdcbcb;
  --hover-btn-bg: #414040;
  --error-message: #ec1327;
  --hover-btn-tr-time: 0.4s;
  --delay-opacity-goods: 0.5s;   // задержка анимации на появление и удаление товаров
  --delay-transform-goods: 1s;   // задержка анимации на появление и удаление товаров
  --delay-modal-on: 0.5s;        // задержка анимации на открытие модальных окон
  --delay-modal-off: 0.3s;       // задержка анимации на закрытие модальных окон
  --delay-overlay: 0.3s;         // задержка анимации на закрытие оверлея окна
  --delay-remove-product: 0.5s;  // задержка анимации на удаление товаров из корзин
}
